---
title: Home | naveen.io
layout: default
---
<div class="child">

    <div class="vizs">
        
    </div>


<div class="container-text heading-flex">
    <div class="heading fs">
        <div class="tagline">
            <div class="os label">DE 303 <span>B.DES 2020</span></div>
            Information Graphics<br>
            and Visualization
        </div>
    </div>
    <div class="prof fs">
        <div class="img">
            <img src="{{site.baseurl}}img/venkat.jpg" alt="">
        </div>
        <div class="name">Venkatesh Rajamanickam<br><span>IDC, IIT Bombay</span></div>
    </div>
</div>

<div class="post-content container-text">
        {{ content }}
    </div>

    <div class="projects">


            <a href="https://medium.com/@vichuprn008/de-303-information-graphics-and-visualizations-replication-assignment-8ab6d63f863f" target="_blank" class="project-card by2">
                    <div class="cover" style="background-image: url('{{site.baseurl}}img/replicate.jpg')"></div>
                    <div class="text">
                            <div class="overflow-box">
                                    <div class="os">ONE</div>
                                    <div class="fs">Replicate</div>
                                    <div class="charter">As part of the course, we had been given an assignment to select an existing DataViz, and faithfully recreate it, as close as possible to the original. The underlying philosophy being that even recreating an existing visualization, down to its smallest details, will teach one a lot about how the data has been encoded, and how effective the method of encoding is etc. It was a really good learning experience</div>
                            </div>
                    </div>
                    <div class="medium">Read on Medium
    
    <svg width="24px" height="10px" viewBox="0 0 24 10" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <g id="1080p" transform="translate(-1464.000000, -1534.000000)" fill-rule="nonzero" stroke="#4D8FD5">
                <g id="Group-2" transform="translate(402.000000, 1113.000000)">
                    <g id="Group-Copy-2" transform="translate(766.000000, 0.000000)">
                        <g id="Group-3" transform="translate(160.000000, 414.000000)">
                            <g id="Group-9" transform="translate(136.000000, 7.000000)">
                                <path d="M0.780607021,5.12893613 L22.4931941,5.12893613" id="Path"></path>
                                <polyline id="Path-2" points="18.4365803 0.613480209 22.6695678 5.11016947 18.4365803 9.60685873"></polyline>
                            </g>
                        </g>
                    </g>
                </g>
            </g>
        </g>
    </svg>
                    </div>
                
                </a>
    
    
    
    
                <a href="https://medium.com/@arunjrk/11cd252b2372" target="_blank" class="project-card by2">
                    <div class="cover" style="background-image: url('{{site.baseurl}}img/redesign.jpg')"></div>
                    <div class="text">
                            <div class="overflow-box">
                                    <div class="os">two</div>
                                    <div class="fs">Redesign</div>
                                    <div class="charter">We from the batch of 2016 IDC did a series of data visualization projects under prof. Venkatesh. Firstly we choose a visualization we liked and replicated it, followed by redesign and re purpose. Given we had replicated the visualization, we had enough understanding of the data and we redesigned the visualizations in the same medium which the original visualization was in. Here is a compilation of all the redesigns made by us. </div>
                            </div>
                    </div>
                    <div class="medium">Read on Medium
    
    <svg width="24px" height="10px" viewBox="0 0 24 10" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <g id="1080p" transform="translate(-1464.000000, -1534.000000)" fill-rule="nonzero" stroke="#4D8FD5">
                <g id="Group-2" transform="translate(402.000000, 1113.000000)">
                    <g id="Group-Copy-2" transform="translate(766.000000, 0.000000)">
                        <g id="Group-3" transform="translate(160.000000, 414.000000)">
                            <g id="Group-9" transform="translate(136.000000, 7.000000)">
                                <path d="M0.780607021,5.12893613 L22.4931941,5.12893613" id="Path"></path>
                                <polyline id="Path-2" points="18.4365803 0.613480209 22.6695678 5.11016947 18.4365803 9.60685873"></polyline>
                            </g>
                        </g>
                    </g>
                </g>
            </g>
        </g>
    </svg>
                    </div>
                
                </a>
    
    
    
    
    
                <a href="https://medium.com/@vichuprn008/de-303-information-graphics-and-visualizations-replication-assignment-8ab6d63f863f" target="_blank" class="project-card by2">
                    <div class="cover" style="background-image: url('{{site.baseurl}}img/repurpose.jpg')"></div>
                    <div class="text">
                            <div class="overflow-box">
                                    <div class="os">Three</div>
                                    <div class="fs">Repurpose</div>
                                    <div class="charter">As part of the course, we had been given an assignment to select an existing DataViz, and faithfully recreate it, as close as possible to the original. The underlying philosophy being that even recreating an existing visualization, down to its smallest details, will teach one a lot about how the data has been encoded, and how effective the method of encoding is etc. It was a really good learning experience</div>
                            </div>
                    </div>
                    <div class="medium">Read on Medium
    
    <svg width="24px" height="10px" viewBox="0 0 24 10" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <g id="1080p" transform="translate(-1464.000000, -1534.000000)" fill-rule="nonzero" stroke="#4D8FD5">
                <g id="Group-2" transform="translate(402.000000, 1113.000000)">
                    <g id="Group-Copy-2" transform="translate(766.000000, 0.000000)">
                        <g id="Group-3" transform="translate(160.000000, 414.000000)">
                            <g id="Group-9" transform="translate(136.000000, 7.000000)">
                                <path d="M0.780607021,5.12893613 L22.4931941,5.12893613" id="Path"></path>
                                <polyline id="Path-2" points="18.4365803 0.613480209 22.6695678 5.11016947 18.4365803 9.60685873"></polyline>
                            </g>
                        </g>
                    </g>
                </g>
            </g>
        </g>
    </svg>
                    </div>
                
                </a>
    
    
    
        </div>


</div>
